/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
Thumbs.db
.DS_Store
._.DS_Store
/build/logs
/build/coverage
npm-debug.log
public/hot
storage/*.key
.env.*.php
.env.php
app/storage/
