.agencies__item-logo {
    width: 10%;
}

.agencies__item-name {
    width: 30%;
}

.agencies__item:first-child td {
    border-top: none;
}

.agencies__item-description {
    width: 60%;
}

.agencies__item-adv-count {
    width: 10%;
}