/* Coolors Exported Palette - coolors.co/0c263f-f2f2f2-e5ce89-faf3dd-ff754f */

$color1: rgba(12, 38, 63, 1);
$color2: rgba(242, 242, 242, 1);
$color3: rgba(229, 206, 137, 1);
$color4: rgba(250, 243, 221, 1);
$color5: rgba(255, 117, 79, 1);